	{
		"name": "",
		"charges": [
		    ""
		],
		"shipTiers": [
		    [ "" ],
		],
		"shipUpgradeSequences": [
		    [ "" ],
		],
		"landshipTiers": [
		    [ "" ],
		],
		"landshipUpgradeSequences": [
		    [ "" ],
		],
		"buildingTiers": [
		    [ "" ],
		],
		"buildingUpgradeSequences": [
		    [ "" ],
		],
		"techs": [
			"",
		]
    	}
    	
    	{
		"name": "CE_SLOW",
		"charges": [
		    ""
		],
		"shipTiers": [
		    [ "" ],
		],
		"shipUpgradeSequences": [
		    [ "" ],
		],
		"landshipTiers": [
		    [ "" ],
		],
		"landshipUpgradeSequences": [
		    [ "" ],
		],
		"buildingTiers": [
		    [ "" ],
		],
		"buildingUpgradeSequences": [
		    [ "" ],
		],
		"techs": [
			"MILITARY_TRAINING",		"EXPLOSIVES",			"RIFLING",
			"GUNNERY",			"MACHINERY",			"ENERGISED_SUSPENDIUM",
			"HAGELING",

			"AERIAL_TACTICS",		"AERIAL_CORPS",			"EARTHBOUND_CORPS",
			"FIRE_SAFETY",			"ADVANCED_EXPLOSIVES",		"OPTICS",
			"METALLURGY",			"HEAVY_WOODEN_ARMOUR",		"LANDSHIPS",
			"HELLICOPTERS",			"HIGH_PRESSURE_SUSPENDIUM",	"ORGENIZED_GATHERING",

			"ELITE_INFANTRY",		"SIMPLE_CONSTRUCTION",		"BUZZER_TECH",
			"HEAVIER_THAN_AIR_FLIGHT",	"COMBUSTIBLES",			"AMMO_STORAGE",
			"GYROSCOPES",			"HEAVY_CANNON",			"FORTIFICATIONS",
			"LARGE_HELLICOPTERS",		"ARTICULATED_MACHINERY",	"MACHINING",
			"SCIENTIFIC_SUSPENDIUM_MINING",	"FACTORING",

			"LOADING_DRILLS",		"ADVANCED_CONSTRUCTION",	"MECH_TECH",
			"ADVANCED_FLIGHT",		"OIL_FUEL_REFINING",		"CYBERNETICS",
			"COMPUTERS",			"AUTOMATED_LOADING_SYSTEMS",	"ADVANCED_METALLURGY",
			"BIOMIMETICS",			"ANTI_AIR_TACTICS",		"SUSPENDIUM_CANNON",
			"SUSPEDIUM_COLLECTION",		"REFINING",

			"MILITARY_ORGANISATION",	"COMPLEX_CONSTRUCTION",		"TADPOLE_TECH",
			"BUZZER_COMP",			"ADVANCED_FUZES",		"ROBOTICS",
			"CE_SUSPENDED_ASSEMBLY",	"BIOSTRUCTURES",		"CRYSTAL_CREATION",
			"CONTAINED_ECONOMIES",

			"THEORY_MECHANIS",		"ATOM_THEORY",			"LONG_DISTANCE_COMBAT",
			"CE_SUSPEND_KICKBACK",		"TENT_CRAFT",			"CE_ARMOR_EMERGANCY",

			"IMPLIMENTATION_MECHANIS",	"SIMPLE_HOUSING",		"CE_SUSPEND_HEAVY",
			"CE_SUSPEND_HARPOON",		"CE_ARMOR_INOVATION",		"CE_ARMOR_STACKING",

			"REVOLUTION_MECHANIS",		"HOUSING",			"COMPLETION_MECHANIS"
		]
    	},
